/*
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
*/

:root {
  --blue: hsl(225, 100%, 40%);
  --blue-transparent: hsla(225, 100%, 40%, 0.5);
  --blue-dark: hsl(225, 100%, 25%);
  --blue-dark-transparent: hsla(225, 100%, 25%, 0.5);
  --blue-very-dark: hsl(225, 100%, 10%);
  --blue-very-dark-transparent: hsla(225, 100%, 10%, 0.5);
  --yellow-50: #f7ff00;
  --yellow-55: hsl(62, 100%, 55%);
  --orange: #c36636;
  --orange-dark: hsl(20, 57%, 25%);
  --orange-light: hsl(20, 57%, 65%);
  --navbar-height: 60px;
  --colorpalette-black: #191919;
  --colorpalette-grey: #313131;
  --colorpalette-blue: #2d4263;
  --colorpalette-dark-blue: hsl(217, 38%, 14%);
  --colorpalette-red: #c8431b;
  --colorpalette-red-transparent-100: #c8431b00;
  --colorpalette-beige: #ecdbba;
}

body {
  /*
  font-family: "Roboto", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Titillium Web", sans-serif;
  */
  font-family: "Open Sans", sans-serif;
  /*
  font-family: "Roboto Slab", serif;
  */
  font-size: min(3.5vw, 1.75vh, 1.5rem);
  box-sizing: border-box;
  background-color: #000;
}

#root {
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

#bg-overlay {
  opacity: 0;
}

/*
#bg-overlay {
  position: fixed;
  height: 150lvh;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    300deg,
    #00000080,
    var(--blue-very-dark-transparent),
    var(--blue-dark-transparent)
  );
  background-size: 180% 180%;
  animation-name: gradient-animation;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a,
a > img {
  transition: transform 0.2s;
}

a:hover,
a > img:hover {
  transform: scale(1.1);
}

.arrow-up {
  opacity: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  z-index: 905;
  bottom: 5%;
  left: calc(90% - 20px);
  cursor: pointer;
  border: none;
  background-color: #00000000;
  font-size: 2.5rem;
  transition: opacity 1s;
}

.arrow-up.shown {
  opacity: 1;
}

.from-right {
  transform: translateX(50vw);
}

.from-left {
  transform: translateX(-50vw);
}

.from-bottom {
  transform: translateY(10vh);
}

.delay1 {
  animation-delay: 1s;
}

.delay1-5 {
  animation-delay: 1.5s;
}

.delay2 {
  animation-delay: 2s;
}

.delay3 {
  animation-delay: 3s;
}

.delay4 {
  animation-delay: 4s;
}

.delay5 {
  animation-delay: 5s;
}

.delay6 {
  animation-delay: 6s;
}

.delay7 {
  animation-delay: 7s;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-90 {
  animation-name: fade-in-90;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fade-in-90 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.slide-in {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* SMALL MOBILE */
/* NAV */

nav {
  position: fixed;
  line-height: 0;
  top: 0;
  width: min(1200px, 100%);
  height: var(--navbar-height);
  margin: 0 calc(50% - min(600px, 50%));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  z-index: 900;
  transition:
    background-color 1s,
    box-shadow 1s;
}

nav.bg-transparent {
  background-color: var(--colorpalette-red-transparent-100);
  box-shadow: 0;
}

nav.bg-red {
  background-color: var(--colorpalette-red);
  box-shadow: 2px 2px 10px 2px #000;
}

nav h3 {
  margin-left: min(10vw, 144px);
  margin-right: auto;
  font-size: 1em;
  position: absolute;
  opacity: 0;
}

@media (min-width: 512px) {
  nav.bg-red h3 {
    position: initial;
    opacity: 1;
  }
}

.menu {
  position: relative;
  color: #fff;
  margin: 0 0 0 auto;
}

.menu-btn {
  background-color: #00000000;
  border: 0;
  padding-right: 16px;
  position: relative;
  z-index: 902;
  cursor: pointer;
}

.menu-links {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: calc(32px + var(--navbar-height)) 16px 16px;
  text-align: end;
  width: min(30vw, 200px);
  top: 0;
  right: max(-30vw, -200px);
  margin-right: max(0, calc(50% - 600px));
  background-color: var(--colorpalette-red);
  transition: transform 1s ease-in-out;
  z-index: 901;
}

.menu-links.shown {
  transform: translateX(max(-200px, -30vw));
  -webkit-transform: translateX(max(-200px, -30vw));
}

.menu-links > a {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform-origin: 100% 50%;
}

.menu-links > a:hover,
.menu-btn > img:hover {
  transform: scale(1.1);
}

.is-current-page {
  color: var(--colorpalette-beige);
}

.not-current-page {
  color: #000;
}

/* HERO */

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  z-index: 5;
  scroll-snap-align: center;
}

.hero {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile-img-container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  padding-top: 7vh;
  text-align: center;
}

.profile-img {
  filter: grayscale(1);
  height: 100%;
  width: min(100%, 100vh, 1200px);
  object-fit: cover;
  opacity: 0;
}

.name-container {
  position: absolute;
  top: 8px;
  left: 24px;
}

.names {
  display: flex;
  flex-direction: column;
  font-size: min(80px, 6vh, 15vw);
  font-weight: 900;
}

.name {
  opacity: 0;
  margin: 0;
}

.info-container {
  width: 100%;
  position: absolute;
  top: 20vw;
  left: min(420px, 35vw);
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  opacity: 0;
}

.info.logos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ABOUT */
.about-container {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  scroll-snap-align: center;
}

.about-container > div {
  width: min(1200px, 100%);
  height: 100%;
  margin: 0 auto;
  padding: 240px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorpalette-black);
}

.about-me {
  background-color: var(--colorpalette-blue);
  width: min(1200px, 100%);
  margin: 5rem 10vw 5rem;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: min(3.5vw, 1.5vh, 1.5rem);
  border-radius: clamp(8px, calc(min(600px, 80vw, 60vh) * 0.02), 16px);
  box-shadow: 2px 2px 10px 2px #000;
  z-index: 5;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.link {
  width: 48px;
  height: 48px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
}

.link > img {
  width: 100%;
  height: 100%;
}

/* PROJECTS */
:root {
  --carousel-size: min(600px, 80vw, 60vh);
}

.projects-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.projects-container > div {
  height: 100%;
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 240px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 240px;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  background-color: var(--colorpalette-dark-blue);
}

.project-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  max-width: min(960px, 100vh);
  overflow: hidden;
  border-radius: clamp(8px, calc(var(--carousel-size) * 0.02), 16px);
  box-shadow: 2px 2px 10px 2px #000;
  background-color: var(--colorpalette-black);
  opacity: 0;
}

.project-carousel {
  position: relative;
  display: flex;
  height: var(--carousel-size);
}

.project-card {
  position: relative;
  width: var(--carousel-size);
  height: var(--carousel-size);
  display: grid;
  grid-template-columns: 1fr repeat(
      2,
      min(calc(var(--carousel-size) * 0.08), 64px)
    );
  grid-template-rows:
    calc(var(--carousel-size) * 0.75) calc(var(--carousel-size) * 0.08)
    calc(var(--carousel-size) * 0.1) calc(var(--carousel-size) * 0.07);
  border-radius: clamp(8px, calc(var(--carousel-size) * 0.02), 16px);
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--colorpalette-red);
  box-shadow: 2px 2px 10px 2px #000;
}

.project-card img:hover {
  transform: scale(1);
}

.project-image {
  width: 100%;
  height: 100%;
  grid-column: span 3;
  object-fit: cover;
  border-top-left-radius: clamp(8px, calc(var(--carousel-size) * 0.02), 16px);
  border-top-right-radius: clamp(8px, calc(var(--carousel-size) * 0.02), 16px);
}

.project-name {
  margin: auto;
  padding: auto;
}

.project-link {
  width: min(calc(var(--carousel-size) * 0.06), 48px);
  height: min(calc(var(--carousel-size) * 0.06), 48px);
  margin: auto;
}

.project-link > img {
  width: 100%;
  height: 100%;
}

.project-description {
  grid-column: span 3;
  font-size: calc(var(--carousel-size) / 40);
  margin: 0 auto auto;
}

.project-description > a {
  text-decoration: underline;
}

.technologies {
  grid-column: span 3;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--colorpalette-grey);
  gap: 2%;
  padding-right: 2%;
}

.technologies > img {
  height: 75%;
}

.penultimateProject {
  right: 5vw;
  opacity: 0.5;
}

.penultimateProject[toprev="1"] {
  animation-name: to-right-0-5-50;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.prevProject {
  right: 5vw;
  opacity: 0.5;
}

.prevProject[toprev="1"] {
  animation-name: to-right-1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.prevProject[tonext="1"] {
  animation-name: to-left-0;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.currentProject {
  left: 0;
  right: 0;
  opacity: 1;
}

.currentProject[toprev="1"] {
  animation-name: to-right-0-5;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.currentProject[tonext="1"] {
  animation-name: to-left-0-5;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.nextProject {
  left: 5vw;
  opacity: 0.5;
}

.nextProject[toprev="1"] {
  animation-name: to-right-0;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.nextProject[tonext="1"] {
  animation-name: to-left-1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.nextButOneProject {
  left: 5vw;
  opacity: 0.5;
}

.nextButOneProject[tonext="1"] {
  animation-name: to-left-0-5-50;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes to-left-0 {
  50% {
    transform: translateX(-85vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-85vw);
    opacity: 0.5;
  }
}

@keyframes to-left-0-5 {
  50% {
    transform: translateX(-85vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-85vw);
    opacity: 0.5;
  }
}

@keyframes to-left-0-5-50 {
  50% {
    transform: translateX(-80vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-80vw);
    opacity: 0.5;
  }
}

@keyframes to-left-1 {
  50% {
    transform: translateX(-85vw);
    opacity: 1;
  }
  100% {
    transform: translateX(-85vw);
    opacity: 1;
  }
}

@keyframes to-right-0 {
  50% {
    transform: translateX(85vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(85vw);
    opacity: 0.5;
  }
}

@keyframes to-right-0-5 {
  50% {
    transform: translateX(85vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(85vw);
    opacity: 0.5;
  }
}

@keyframes to-right-0-5-50 {
  50% {
    transform: translateX(80vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(80vw);
    opacity: 0.5;
  }
}

@keyframes to-right-1 {
  50% {
    transform: translateX(85vw);
    opacity: 1;
  }
  100% {
    transform: translateX(85vw);
    opacity: 1;
  }
}

.prevButton,
.nextButton {
  color: #fff;
  position: absolute;
  width: 10vw;
  height: calc(var(--carousel-size));
  background-color: #00000000;
  border: 0;
  padding: 0;
}

.prevButton {
  left: calc(var(--carousel-size) * 2 - 10vw);
}

.nextButton {
  right: calc(var(--carousel-size) * 2 - 10vw);
}

.prevButton > img,
.nextButton > img {
  width: calc(var(--carousel-size) * 0.05);
  margin: auto;
}

.prevButton > img {
  margin-left: 50%;
}

.nextButton > img {
  margin-right: 50%;
}

.turn-left-90 {
  transform: rotate(-90deg);
}

.turn-right-90 {
  transform: rotate(90deg);
}

/* CONTACT */
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  scroll-snap-align: center;
}

.contact-container > div {
  background-color: var(--colorpalette-black);
  width: min(1200px, 100%);
  height: 100%;
  margin: 0 auto;
  padding: 240px 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-details {
  display: grid;
  grid-template-columns: 40px 1fr;
  text-align: left;
  align-items: center;
  font-size: min(3.5vw, 1.5vh, 1.5rem);
}

.span {
  grid-column: span 2;
}

.contact-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-img {
  height: 50vh;
  object-fit: cover;
  box-shadow: 2px 2px 10px 2px #000;
}

/* REG MOBILE */
@media (min-width: 512px) {
  /* NAV */

  /* HERO */

  /* ABOUT */

  .about-me {
    font-size: min(3.5vw, 1.75vh, 1.5rem);
  }

  /* PROJECTS */

  .project-card {
    font-size: min(3.5vw, 1.75vh, 1.5rem);
  }

  /* CONTACT */

  .contact-container > div {
    font-size: min(3.5vw, 1.75vh, 1.5rem);
  }
}

/* TABLET + DESKTOP */
@media (min-width: 1024px) {
  body {
    font-size: min(4vw, 2vh, 2rem);
  }

  /* NAV */

  .menu-btn {
    opacity: 0;
    position: absolute;
  }

  .menu-links {
    position: relative;
    height: 100%;
    flex-direction: row;
    gap: 48px;
    padding: 0 min(144px, 10vw);
    text-align: center;
    width: 100%;
    right: 0;
    margin-right: 0;
    transition:
      transform 1s ease-in-out,
      color 1s;
  }

  .menu-links.shown {
    transform: translateX(0);
  }

  .menu-links > a {
    transform-origin: 50% 50%;
  }

  .bg-transparent > .menu > .menu-links > .not-current-page {
    color: #fff;
  }

  .bg-opacity > .menu > .menu-links > .not-current-page {
    color: #000;
  }

  .bg-transparent > .menu > .menu-links > .is-current-page {
    color: #000;
  }

  .bg-opacity > .menu > .menu-links > .is-current-page {
    color: var(--colorpalette-beige);
  }

  /* HERO */

  .name-container {
    top: 40px;
    left: 32px;
  }

  /* ABOUT */

  .about-me {
    font-size: min(4vw, 2vh, 2rem);
  }

  /* PROJECTS */

  .project-card {
    font-size: min(4vw, 2vh, 2rem);
  }

  /* CONTACT */

  .contact-container > div {
    font-size: min(4vw, 2vh, 2rem);
  }
}

/* WIDESCREEN */
/* HERO */

@media (min-aspect-ratio: 1) {
  .names {
    font-size: min(16vh, 7vw);
  }
}

@media (min-aspect-ratio: 1) and (min-width: 1200px) {
  .name-container {
    left: calc((100vw - 1200px) / 2 + 32px);
  }

  .names {
    font-size: min(16vh, 84px);
  }
}

/* ABOUT */

@media (min-aspect-ratio: 1.1) {
}

/* PROJECTS */
@media (min-aspect-ratio: 0.75) {
  .prevButton,
  .nextButton {
    width: min(20vh, 180px);
  }
  .prevButton {
    left: calc(var(--carousel-size) * 2 - min(20vh, 180px));
  }
  .nextButton {
    right: calc(var(--carousel-size) * 2 - min(20vh, 180px));
  }

  .prevButton > img {
    margin-left: 66%;
  }

  .nextButton > img {
    margin-right: 66%;
  }

  .penultimateProject,
  .prevProject {
    right: calc((min(960px, 100vh) - var(--carousel-size)) / 6);
  }

  .nextProject,
  .nextButOneProject {
    left: calc((min(960px, 100vh) - var(--carousel-size)) / 6);
  }

  @keyframes to-left-0 {
    80% {
      transform: translateX(-65vh);
      opacity: 0;
    }
    100% {
      transform: translateX(-65vh);
      opacity: 0;
    }
  }

  @keyframes to-left-0-5 {
    80% {
      transform: translateX(-65vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-65vh);
      opacity: 0.5;
    }
  }

  @keyframes to-left-0-5-50 {
    80% {
      transform: translateX(-60vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-60vh);
      opacity: 0.5;
    }
  }

  @keyframes to-left-1 {
    80% {
      transform: translateX(-65vh);
      opacity: 1;
    }
    100% {
      transform: translateX(-65vh);
      opacity: 1;
    }
  }

  @keyframes to-right-0 {
    80% {
      transform: translateX(65vh);
      opacity: 0;
    }
    100% {
      transform: translateX(65vh);
      opacity: 0;
    }
  }

  @keyframes to-right-0-5 {
    80% {
      transform: translateX(65vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(65vh);
      opacity: 0.5;
    }
  }

  @keyframes to-right-0-5-50 {
    80% {
      transform: translateX(60vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(60vh);
      opacity: 0.5;
    }
  }

  @keyframes to-right-1 {
    80% {
      transform: translateX(65vh);
      opacity: 1;
    }
    100% {
      transform: translateX(65vh);
      opacity: 1;
    }
  }
}

@media (min-aspect-ratio: 1.2) {
  .penultimateProject,
  .prevProject {
    right: min(6.66vh, 60px);
  }

  .nextProject,
  .nextButOneProject {
    left: min(6.66vh, 60px);
  }

  @keyframes to-left-0 {
    80% {
      transform: translateX(-70vh);
      opacity: 0;
    }
    100% {
      transform: translateX(-70vh);
      opacity: 0;
    }
  }

  @keyframes to-left-0-5 {
    80% {
      transform: translateX(-70vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-70vh);
      opacity: 0.5;
    }
  }

  @keyframes to-left-0-5-50 {
    80% {
      transform: translateX(-60vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-60vh);
      opacity: 0.5;
    }
  }

  @keyframes to-left-1 {
    80% {
      transform: translateX(-70vh);
      opacity: 1;
    }
    100% {
      transform: translateX(-70vh);
      opacity: 1;
    }
  }

  @keyframes to-right-0 {
    80% {
      transform: translateX(70vh);
      opacity: 0;
    }
    100% {
      transform: translateX(70vh);
      opacity: 0;
    }
  }

  @keyframes to-right-0-5 {
    80% {
      transform: translateX(70vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(70vh);
      opacity: 0.5;
    }
  }

  @keyframes to-right-0-5-50 {
    80% {
      transform: translateX(60vh);
      opacity: 0.5;
    }
    100% {
      transform: translateX(60vh);
      opacity: 0.5;
    }
  }

  @keyframes to-right-1 {
    80% {
      transform: translateX(70vh);
      opacity: 1;
    }
    100% {
      transform: translateX(70vh);
      opacity: 1;
    }
  }
}

@media (min-aspect-ratio: 1.2) and (min-width: 1200px) {
  @keyframes to-left-0 {
    80% {
      transform: translateX(-690px);
      opacity: 0;
    }
    100% {
      transform: translateX(-690px);
      opacity: 0;
    }
  }

  @keyframes to-left-0-5 {
    80% {
      transform: translateX(-690px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-690px);
      opacity: 0.5;
    }
  }

  @keyframes to-left-0-5-50 {
    80% {
      transform: translateX(-600px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-600px);
      opacity: 0.5;
    }
  }

  @keyframes to-left-1 {
    80% {
      transform: translateX(-690px);
      opacity: 1;
    }
    100% {
      transform: translateX(-690px);
      opacity: 1;
    }
  }

  @keyframes to-right-0 {
    80% {
      transform: translateX(690px);
      opacity: 0;
    }
    100% {
      transform: translateX(690px);
      opacity: 0;
    }
  }

  @keyframes to-right-0-5 {
    80% {
      transform: translateX(690px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(690px);
      opacity: 0.5;
    }
  }

  @keyframes to-right-0-5-50 {
    80% {
      transform: translateX(600px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(600px);
      opacity: 0.5;
    }
  }

  @keyframes to-right-1 {
    80% {
      transform: translateX(690px);
      opacity: 1;
    }
    100% {
      transform: translateX(690px);
      opacity: 1;
    }
  }
}

/* CONTACT */
@media (min-aspect-ratio: 1) {
  .contact-container > div {
    flex-direction: row;
    align-items: center;
  }

  .contact-img-container {
    justify-content: end;
    align-items: center;
    perspective: 500px;
    transform-style: preserve-3d;
  }

  .contact-img {
    height: min(58vh, 33vw);
    transform: rotateY(-10deg);
  }
}
